.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.player-wrapper {
  border: 1px#a8a6a6 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 24px;
  padding: 24px;
}
.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  outline: none;
  padding: 10px 16px;
  background-color: #a8a6a6;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background-color: red;
}
